@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Righteous&display=swap');

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(0.995);
  box-shadow: 5px 5px #db5540;
}

.centre-search {
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sunray {
  color: #E0B565ff;
}

.fulvous {
  color: #EA8507ff;
}

.burnt-umber {
  color: #7B312Aff;
}

.old-burgundy {
  color: #3F242Eff;
}

.shiny-shamrock {
  color: #689F7Eff;
}

.bg-shiny-shamrock {
  background-color: #689F7Eff;
}

.background {
  width: 90vw;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .background {
    width: 100vw;
  }
}

.background-gradient {
  /* background: linear-gradient(90deg, #E0B565ff 0%, #EA8507ff 100%); */
  height: '100%';
  min-height: 100vh;
}

.search-items {
  min-width: 80px;
}

.search-item-button {
  width: 10%;
}

.dropdown-content {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* The search field */
#search-box {
  font-size: 16px;
  border: none;
  min-width: 230px;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#search-box:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  /* display: block; */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}




